<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--Консольный аппендер-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </layout>
    </appender>

    <!--Пример установки уровня логирования для пакета/класса-->
    <logger name="org.example.web.rest" level="INFO"/>
    <logger name="org.eclipse.jetty" level="ERROR"/>

    <!--Корневой уровень логирования-->
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>